Submit Collection has been completed for ${header.emailPayLoad.xmlFileName} ${header.emailPayLoad.institution}. The report ${header.emailPayLoad.reportFileName} is at the S3 location ${header.emailPayLoad.location}.