The following item has been requested in SCSB and LAS status is REFILE ON WO or OUT ON EDD WO.
These trasactions will go in to the error report. Please do verify.

Item Barcode 	: ${header.emailPayLoad.itemBarcode}